@import "./../../styles/palette.less";
@import "./../../styles/media.less";

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 16px;
  padding: 8px 0;
  border-bottom: 1px solid @divider-color;

  &.editing {
    display: flex;
    flex-direction: column;
  }

  &__text {
    width: 100%;
    min-height: 20px;
  }

  &__checkbox {
    max-width: 40px;
  }

  &__toolbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    > * {
      margin-right: 6px;
    }
  }

  &__input {
    font-size: 16px;
    margin: 8px 16px;
    padding: 6px;
    width: 100%;
    border: 1px solid @divider-color;

    &:focus {
      outline: 0;
      border: 1px solid @primary-color;
    }
  }
}